<header class="site-header site-header--absolute is--white py-3" id="sticky-menu">
    <div class="container-default">
        <div class="flex items-center justify-between gap-x-8">
            <!-- Header Logo -->
            <a href="index.html" class="">
                <img src="assets/img/logo-blue-dark.png" alt="Masco" width="109" height="24" />
            </a>
            <!-- Header Logo -->

            <!-- Header Navigation -->
            <div class="menu-block-wrapper">
                <div class="menu-overlay"></div>
                <nav class="menu-block" id="append-menu-header">
                    <div class="mobile-menu-head">
                        <div class="go-back">
                            <i class="fa-solid fa-angle-left"></i>
                        </div>
                        <div class="current-menu-title"></div>
                        <div class="mobile-menu-close">&times;</div>
                    </div>
                    <ul class="site-menu-main">
                        <li class="nav-item nav-item-has-children">

                        <li class="nav-item nav-item-has-children">
                            <a href="#" class="nav-link-item drop-trigger">Services
                                <i class="fa-solid fa-angle-down"></i>
                            </a>
                            <ul class="sub-menu" id="submenu-2">
                                <li class="sub-menu--item">
                                    <a href="services.html">Services</a>
                                </li>
                                <li class="sub-menu--item">
                                    <a href="service-details.html">Service Details</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="/about/" class="nav-link-item">About</a>
                        </li>
                        <li class="nav-item">
                            <a href="about.html" class="nav-link-item">Contact</a>
                        </li>

                    </ul>
                </nav>
            </div>
            <!-- Header Navigation -->

            <!-- Header User Event -->
            <div class="flex items-center gap-6">
                <a href="signup.html"
                    class="btn is-blue is-rounded btn-animation group hidden sm:inline-block"><span>Book a
                        meeting</span></a>
                <!-- Responsive Offcanvas Menu Button -->
                <div class="block lg:hidden">
                    <button id="openBtn" class="hamburger-menu mobile-menu-trigger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
            </div>
            <!-- Header User Event -->
        </div>
    </div>
</header>